<div class="overflow-x-hidden flex flex-row h-20 w-full">
    <div class="w-full fixed max-sm:hidden bg-fundo flex items-center z-20 overflow-hidden 3xl:text-xl 2xl:text-xl xl:text-xl md:text-lg sm:text-md">
        <div class="basis-2/12 sm:visible"></div>
        <h4 class="basis-1/5 text-center text-black font-black font-header cursor-pointer"
            (click)="scrollToSlider.emit()">Slider</h4>
        <h4 class="basis-1/5 text-center text-black font-black font-header cursor-pointer"
            (click)="scrollToWhy.emit()">Porquê</h4>
        <span (click)="scrollToHome.emit()" class="basis-1/5 text-center cursor-pointer">
            <span class="w-max"><img src="../../../assets/favicon-removebg-preview.png" class="w-16 h-16 mx-auto" alt="EcoFood Logo"></span>
        </span>
        <h4 class="basis-1/5 text-center text-black font-black font-header cursor-pointer"
            (click)="scrollToAbout.emit()">Sobre Nós</h4>
        <h4 class="basis-1/5 text-center text-black font-black max-sm:hidden font-header cursor-pointer"
            (click)="scrollToContact.emit()">Contactos</h4>
        <div class="basis-2/12 sm:visible" ></div>
    </div>
</div>