<!--<div class="flex flex-row backdrop-blur-md">
    <div class="basis-2/3 p-10">
      <h1 class="uppercase font-bold text-sm-azul-escuro 3xl:text-6xl 2xl:text-5xl xl:text-4xl md:text-3xl sm:text-2xl">
        Sobre nós</h1>
      <div class="pt-10 3xl:text-5xl 2xl:text-4xl xl:text-3xl md:text-2xl sm:text-xl">
        <span> Uma página que vai falar sobre a criação do
        software, o suporte do mesmo e avaliações de
        futuros clientes.</span>
      </div>
      <button
        class="max-lg:hidden uppercase p-5 mr-2 mb-2 mt-6 max-md:py-1 max-md:px-2.5 max-md:text-xs max-sm:text-2xs max-sm:mt-2 md:mt-12 lg:mt-14 xl:mt-10   xl:text-xl xl:px-1 xl:py-0 xl:h-16 xl:w-32     font-header text-white bg-sm-azul-escuro border-2 border-sm-azul-escuro hover:bg-transparent hover:text-sm-azul-escuro hover:border-2 border-sm-azul-escuro">
        Comprar
      </button>
      <div class="max-lg:hidden flex justify-end">
        <svg mlns="http://www.w3.org/2000/svg" class="lg:w-[15%] xl:w-[25%] 2xl:w-[35%]" viewBox="0 0 737.975 788">
          <path id="Shape"
                d="M3929.945,2416.01a20.029,20.029,0,1,1,.009,0Zm-142.223-.08a20.025,20.025,0,1,1,.017,0Zm-142.224-.076a20.033,20.033,0,1,1,.008,0Zm-142.224-.081a20.025,20.025,0,1,1,.018,0Zm-136.247-.339a20.028,20.028,0,1,1,.013,0Zm-134.94-.336a20.027,20.027,0,1,1,.013,0Zm697.641-148.844a20.03,20.03,0,1,1,.009,0Zm-142.223-.078a20.03,20.03,0,1,1,.013,0Zm-142.221-.079a20.029,20.029,0,1,1,.009,0Zm-142.223-.078a20.027,20.027,0,1,1,.013,0Zm-136.248-.341a20.027,20.027,0,1,1,.013,0Zm562.7-149.18a20.029,20.029,0,1,1,.013,0Zm-142.224-.079a20.028,20.028,0,1,1,.013,0Zm-142.221-.078a20.025,20.025,0,1,1,.013,0Zm-142.223-.076a20.029,20.029,0,1,1,.008,0Zm426.45-149.523a20.03,20.03,0,1,1,.013,0Zm-142.221-.078a20.03,20.03,0,1,1,.009,0Zm-142.223-.079a20.029,20.029,0,1,1,.013,0Zm284.232-149.6a20.027,20.027,0,1,1,.013,0Zm-142.223-.078a20.028,20.028,0,1,1,.013,0Zm142.007-149.676a20.03,20.03,0,1,1,.008,0Z"
                transform="translate(-3211.998 -1628.01)" fill="#2a3d65"/>
        </svg>
      </div>
    </div>
    <div class="basis-1/3 relative flex items-center p-2 md:p-10">
      <img class="w-full min-w-full" src="./assets/about-us.png" alt="Imagem">
    </div>
  </div>
  <div class="flex justify-center lg:hidden">
    <button
      class="text-center uppercase  p-5 mr-2 mb-2 mt-6 max-md:py-1 max-md:px-2.5 max-md:text-xs max-sm:text-2xs max-sm:mt-2 md:mt-12 lg:mt-14 xl:mt-10   xl:text-xl xl:px-1 xl:py-0 xl:h-16 xl:w-32     font-header text-white bg-sm-azul-escuro border-2 border-sm-azul-escuro hover:bg-transparent hover:text-sm-azul-escuro hover:border-2 border-sm-azul-escuro">
      Comprar
    </button>
  </div>-->

  
  <div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
    <div class="flex flex-col lg:flex-row justify-between gap-8">
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
            <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 text-sm-verde-escuro pb-4">About Us</h1>
            <p class="font-normal text-base leading-6 text-gray-600 text-sm-verde-escuro">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.In the first place we have granted to God, and by this our present charter confirmed for us and our heirs forever that the English Church shall be free, and shall have her rights entire, and her liberties inviolate; and we will that it be thus observed; which is apparent from</p>
        </div>
        <div class="w-full lg:w-8/12">
            <img class="w-full h-full" src="https://i.ibb.co/FhgPJt8/Rectangle-116.png" alt="A group of People" />
        </div>
    </div>

    <div class="flex lg:flex-row flex-col justify-between gap-8 pt-12">
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
            <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 text-sm-verde-escuro pb-4">Our Story</h1>
            <p class="font-normal text-base leading-6 text-gray-600 text-sm-verde-escuro">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.In the first place we have granted to God, and by this our present charter confirmed for us and our heirs forever that the English Church shall be free, and shall have her rights entire, and her liberties inviolate; and we will that it be thus observed; which is apparent from</p>
        </div>
        <div class="w-full lg:w-8/12 lg:pt-8">
            <div class="grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md">
                <div class="p-4 pb-6 flex justify-center flex-col items-center">
                    <img class="md:block hidden" src="https://i.ibb.co/FYTKDG6/Rectangle-118-2.png" alt="Alexa featured Image" />
                    <img class="md:hidden block" src="https://i.ibb.co/zHjXqg4/Rectangle-118.png" alt="Alexa featured Image" />
                    <p class="font-medium text-xl leading-5 text-gray-800 text-sm-verde-escuro mt-4">Alexa</p>
                </div>
                <div class="p-4 pb-6 flex justify-center flex-col items-center">
                    <img class="md:block hidden" src="https://i.ibb.co/fGmxhVy/Rectangle-119.png" alt="Olivia featured Image" />
                    <img class="md:hidden block" src="https://i.ibb.co/NrWKJ1M/Rectangle-119.png" alt="Olivia featured Image" />
                    <p class="font-medium text-xl leading-5 text-gray-800 text-sm-verde-escuro mt-4">Olivia</p>
                </div>
                <div class="p-4 pb-6 flex justify-center flex-col items-center">
                    <img class="md:block hidden" src="https://i.ibb.co/Pc6XVVC/Rectangle-120.png" alt="Liam featued Image" />
                    <img class="md:hidden block" src="https://i.ibb.co/C5MMBcs/Rectangle-120.png" alt="Liam featued Image" />
                    <p class="font-medium text-xl leading-5 text-gray-800 text-sm-verde-escuro mt-4">Liam</p>
                </div>
                <div class="p-4 pb-6 flex justify-center flex-col items-center">
                    <img class="md:block hidden" src="https://i.ibb.co/7nSJPXQ/Rectangle-121.png" alt="Elijah featured image" />
                    <img class="md:hidden block" src="https://i.ibb.co/ThZBWxH/Rectangle-121.png" alt="Elijah featured image" />
                    <p class="font-medium text-xl leading-5 text-gray-800 text-sm-verde-escuro mt-4">Elijah</p>
                </div>
            </div>
        </div>
    </div>
</div>
