<section class="container px-6 py-8 mx-auto lg:py-16" id="about">
    <div class="lg:flex lg:items-center lg:-mx-4">
        <div class="lg:w-1/2 lg:px-4">
            <h3 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 text-sm-verde-escuro">A nossa preocupação com os Alimentos</h3>
            <p class="mt-6 text-lg text-gray-500">A sua importância para nossa sobrevivência, 
                saúde e bem-estar é essencial. Além disso, a comida também tem um impacto significativo no meio ambiente, na economia e nas comunidades ao redor do mundo. 
                Ao nos preocuparmos com a comida, podemos promover escolhas alimentares saudáveis, reduzir o desperdício, 
                apoiar práticas agrícolas sustentáveis e garantir a disponibilidade de alimentos para as gerações futuras.</p>
        </div>

        <div class="mt-8 lg:w-1/2 lg:px-4 lg:mt-0">
            <img class="object-cover w-full rounded-xl h-96"
                src="../../../assets/pexels-ella-olsson-1640777.jpg"
                alt="Why-us image">
        </div>
    </div>
</section>