<div
  class="relative overflow-hidden rounded-lg bg-cover bg-no-repeat p-12 text-center m-10"
  style="background-image: url('../../../assets/pexels-photo-96715.jpeg'); height: 600px">
  <div
    class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
    style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="flex h-full items-center justify-center">
      <div class="text-white">
        <h1 class="mb-4 text-4xl font-semibold md:text-6xl"><span class="text-sm-verde-claro">Eco</span>Food</h1>
        <button (click)="buttonClick()" 
          type="button"
          class="rounded border-2 border-neutral-50 px-2 pb-[8px] pt-[10px] text-sm font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
          data-te-ripple-init
          data-te-ripple-color="light">
          Começa Agora
        </button>
      </div>
    </div>
  </div>
</div>