<div
  class="relative overflow-hidden rounded-lg bg-cover bg-no-repeat p-12 text-center m-10"
  style="background-image: url('../../../assets/pexels-photo-96715.jpeg'); height: 600px">
  <div
    class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
    style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="flex h-full items-center justify-center">
      <div class="text-white">
        <h1 class="mb-8 text-4xl font-semibold md:text-6xl"><span class="text-sm-verde-claro font-thin">Eco</span>Food</h1>
      </div>
    </div>
  </div>
</div>