li{font-size: xx-small;}
.carousel-open + .carousel-item {
  position: static;
  opacity: 100;
}

.error {
  background-color: #2A3D65;
}

@media only screen and (max-width: 1000px) {
  .error {
      background-color: #E8E8E8;
  }
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}