<section class="flex max-md:block flex-row py-20 bg-sm-fundo bg-opacity-50">
    <div class="basis-2/4 relative flex items-center">
        <img class="mx-auto z-0 max-md:px-10" src="./assets/loading_square.png" alt="background image">
    </div>
    <div class="basis-2/4 py-10 px-10 text-right max-md:text-left">
      <h1 class="uppercase text-sm-azul-escuro font-bold mb-10 3xl:text-7xl 2xl:text-6xl xl:text-5xl md:text-2xl sm:text-xl">Um gif</h1>
      <p class="3xl:text-5xl 2xl:text-3xl xl:text-3xl md:text-2xl sm:text-xl">
        Aqui vai estar um gif do software e este texto vai ser usado para
        explicar mais pontos de como e para quê o software funciona.
      </p>
    </div>
</section>