/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Barlow;
    src: url("./assets/fonts/Barlow/Barlow-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Barlow-bold;
    src: url("./assets/fonts/Barlow/Barlow-Bold.ttf") format("truetype");
}


@font-face {
    font-family: Space_Mono;
    src: url("./assets/fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
